<section class="productView ">
    <div class="container container--pall">
        <div class="productView__container">
            <div class="productView__header">
                <h1><strong>{{productById.product.name | titlecase}}</strong></h1>
            </div>
            <div class="pageContainer flex">
                <div class="productImage" >
                    <img src="data:image/png;base64,{{productById.product.image}}" alt="{{productById.product.name | lowercase}} image">
                </div>
        
                <div class="productInfo">
                    <div class="productView__content">
                        <h1></h1>
                        <h2>{{productById.product.descr}}</h2>
                    </div>
                    <div class="productPricing">
                        <h2><strong>Price:</strong></h2>
                        <span class="originalPrice" *ngIf="productById.product.onSale != null"><h2>{{productById.product.price |
                            currency}}</h2></span>
                        <span class="currentPrice"><h2>{{productById.netPrice | currency}}</h2></span>
                    </div>
                    <div class="productView__footer flex">
                        <button mat-raised-button type="button" class="addToCartButton mat-elevation-z2" routerLink="/login"
                            *ngIf="!(isLoggedIn)">
                            <div class="addToCartText">Add </div>
                            <mat-icon class="addCartIcon">add_shopping_cart</mat-icon>
                        </button>
                        <button mat-raised-button type="button" class="addToCartButton mat-elevation-z2"
                            (click)="addToCart(productById, $event, mySelect.value)" *ngIf="(isLoggedIn)">
                            <div class="addToCartText">Add </div>
                            <mat-icon class="addCartIcon">add_shopping_cart</mat-icon>
                        </button>
                        <div class="cart__item-quantity">
                            <select name="quantity" id="" #mySelect>
                                <ng-container *ngFor="let num of quantity">
                                    <option [value]="num" value="num">
                                        Qty: {{num}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>