<!-- NavBar -->
<header class="header">
    <nav class="container container--pall flex flex-jc-sb flex-ai-c">
        <a href="" class="header__logo">Home</a>

        <div class="header__links">
            <a href="" class="scroll">Categories</a>
            <a href="" class="scroll">Products</a>
            <a href="" class="scroll">Cart</a>
            <a href="" routerLink="/profile">Profile</a>
            <a href="" routerLink="/login">Login</a>
            <a href="../html/templates/register.html">Register</a>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
footer
<!-- Footer -->
