@import '../../../../styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Dropdown Button */

.scroll {
  padding-left: 16px;
  padding-right: 16px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 0px 0px 0px white;

    
    font-size: 16px;
    
    font-family: 'Roboto', sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 0px 0px white;
    z-index: 1;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.cartLink {
  position: relative;

  .cartCounter {
    color: white;
    border-radius: 50%;
    padding: 0 3px;
    background-color: $lightBlue;
  }
}
