@import "../../../styles/variables";

.mat-icon.info {
  margin-left: 10px;
  color: $lightBlue;
}

.error {
  position: relative;
  padding:0 25px;
  height: 50px;
  margin: auto;
  width: 50%;
  min-width: 325px;
  max-width: 450px;
  border-radius: 6px;
  background-color: #FFE7E6;
  color: red;
  opacity: 1;
  transition: opacity .1s ease-in-out;

  &.hide {
    opacity: 0;
  }

  .exit:hover {
    cursor: pointer;
  }

  .stripe {
    background-color: red;
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
  }
}

input {
  margin-bottom: 10px;
}

button.button {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  color: $white;
  background-color: $lightBlue;
  letter-spacing: 0;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    background-color: grey;
    transition: none;
    cursor: default;
    opacity: .8;
  }
}