<section class="login">
    <div class="container">
        <div class="login__form forms">
            <div class="login__form-header">
                <h1>Update Password</h1>
            </div>

            <div class="error hide" fxLayoutAlign="space-between center">
                <div class="stripe"></div>
                <div class="message">{{error}}</div>
                <mat-icon class="exit" style="color: red" (click)="closeError()">close</mat-icon>
            </div>

            <form [formGroup]="credentialsForm" (ngSubmit)="submitForm()">
                <div class="login__inputs">
                    <!-- Current password -->
                    <div fxLayoutAlign="center center">
                        <input type="password" name="currentPassword" id="currentPassword" placeholder="Enter Current Password" formControlName="currentPassword">
                    </div>
                    <!-- New Password -->
                    <div fxLayoutAlign="center center">
                        <input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password" formControlName="newPassword" (blur)="checkInput(loginForm.get('password'), passwordTooltip)">
                        <mat-icon
                            class="info"
                            #passwordTooltip="matTooltip"
                            matTooltip="Password must be 8-20 characters, have one or more capital letters and one or more special characters."
                            matTooltipPosition="after">info
                        </mat-icon>
                    </div>
                    <!-- New Password check -->
                    <div fxLayoutAlign="center center">
                        <input type="password" name="newPasswordCheck" id="newPasswordCheck" placeholder="Re-enter New Password" formControlName="newPasswordCheck" (blur)="checkInput(loginForm.get('passwordCheck'), passwordTooltip)">
                        <mat-icon
                            class="info"
                            #passwordTooltip="matTooltip"
                            matTooltip="Password must be 8-20 characters, have one or more capital letters and one or more special characters."
                            matTooltipPosition="after">info
                        </mat-icon>
                    </div>
                </div>
                <div>
                    <button class="button" [disabled]="!credentialsForm.valid" (click)="changePassword()">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
