.cart {

    &__header {
        margin-bottom: 2rem;
    }

    &__item {
        width: 746px;
        margin-right: 1rem;
        margin-bottom: 1rem;
        display: flex;
    }

    &__item-image {
        padding: 1rem;

        img {
            width: 180px;
            height: 180px;
        }
    }

    &__item-content {
        padding-top: 1rem;
    }

    &__item-header {
        min-height: 180px;
    }

    &__item-title {
        margin-bottom: 0.5rem;
    }

    &__item-footer {
        margin-bottom: 1rem;
        display: flex;
    }

    &__item-delete {
        padding-left: 0.5rem;
    }

    &__summary {
        display: block;
        min-width: 330px;
        max-height: 240px;
        
        h3 {
            font-size: 14px;
        }
    }

    &__summary-header {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    &__summary-content {
        padding: 1rem;
    }

    &__summary-item {
        display: flex;
        justify-content: space-between;

    }
    
    &__summary-title {
        min-width: 1rem;
    }

    &__summary-item-footer {
        padding-bottom: 2rem;
        border-bottom: 1px solid lightgray;
    }

    &__summary-info {
        text-align: right;
        margin-bottom: 0.5rem;
        min-width: 6rem;
    }

    &__summary-total {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        justify-content: space-between;
        
        h2 {
            color: darkred;
        }
    }

    &__summary-button {
        padding-right: 1rem;
        text-align: right;

        &:hover {

        }
    }

    .originalPrice {
        text-decoration: line-through;
        color: red;
        margin-right: 0.5rem;
    }

    &__item-price {
        margin-bottom: .5rem;
    }
}