.header {
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;

    nav {
        height: 6rem;
        font-weight: 700;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;

    }

    //Navbar Logo
    &__logo {
        font-size: 2rem;
        color: $black;

        &:hover {
            color: $orange;
        }
    }


    //Desktop Links
    &__links {
        
        a {
            letter-spacing: .1rem;
            padding-right: 2rem;
            font-size: 1rem;
            font-weight: 700;
            color: $black;
            text-transform: uppercase;

            &:hover {
                color: $orange;
            }
        }

        /* Dropdown Button */

.scroll {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .dropbtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    color: black;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 0px 0px 0px white;

    

}

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      box-shadow: 0px 0px 0px 0px white;
      z-index: 1;
  
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 10px 10px;
      text-decoration: none;
      display: block;
  
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: $gray;
        color:$orange;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: $gray;
        color:$orange;
    }
  
  .cartLink {
    position: relative;
  
    .cartCounter {
      color: white;
      border-radius: 50%;
      padding: 0 3px;
      background-color: $lightBlue;
    }
  }
    }


}