.productView {
    
    &__container {
        
    }
    .pageContainer {
        border: 1px solid black;
        padding-left: 2rem;


        .productImage {
            padding-top: 2rem;
            img {
                width: 400px; //! Fiiller
                height: 400px; //! Fiiller
            }

        }

        .productInfo {
            // height: 100%;
            width: 100%;
            padding-left: 4rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-right: 2rem;
            


            .productName {}

            .productPricing {
                padding-bottom: 1rem;

                .originalPrice {
                    text-decoration: line-through;
                    color: red;
                    margin-right: .5rem;
                }

                .currentPrice {
                    color: green;
                }
            }

            .addToCartButton {
                padding: 1px 8px;
                line-height: initial;
                font-size: 0.7rem;
                background-color: #2988bc;
                color: white;

                .addToCartText {
                    display: none;
                }

                &:hover .addToCartText {
                    display: inline;
                }

                &.checkIcon {
                    color: green;
                }

            }

        }

    }
    .tt {
        margin-bottom: .5rem;
    }

    &__header {
        margin-bottom: 1rem;
    }

    &__content {
        height: 320px;
    }

    &__footer{

    }
}