//Colors
$darkBlue: #101820;
$blue: hsl(233, 26%, 24%);
$orange: #F2AA4C;
$black: #12100a;
$white: #f7f5ed;
$gray: #E5E5E5;
$lightBlue: #2988bc;

.filler {
    height: 1200px;
    background-color: white;
}