<!DOCTYPE html>
<section class="login">
    <div class="container">
        <div class="login__form forms">
            <div class="login__form-header">
                <h1>Add an Address</h1>
            </div>

            <div class="error hide" fxLayoutAlign="space-between center">
                <div class="stripe"></div>
                <div class="message">{{error}}</div>
                <mat-icon class="exit" style="color: red" (click)="closeError()">close</mat-icon>
            </div>
            <!-- first step-->
            <mat-stepper linear="true" id="updatePassStepper" #stepper>

                <!-- Update Address Info Form -->
                <mat-step [stepControl]="addressInfoForm">
                    <form [formGroup]="addressInfoForm">
                    <ng-template matStepLabel>Add Information</ng-template>

                        <!-- AddressLine1 -->
                        <div fxLayoutAlign="center center">
                            <input type="text" name="addressLine1" id="addressLine1" placeholder="Address Line 1" formControlName="addressLine1"> <!--(blur)="checkInput(credentialsForm.get('username'), usernameTooltip)"-->
                            <mat-icon
                                class="info"
                                #address1Tooltip="matTooltip"
                                matTooltip="Street address must be alphanumeric and contain at least one number."
                                matTooltipPosition="after">info
                            </mat-icon>
                        </div>

                        <!-- AddressLine2 -->
                        <div fxLayoutAlign="center center">
                            <input type="text" name="addressLine2" id="addressLine2" placeholder="Address Line 2" formControlName="addressLine2"> <!--(blur)="checkInput(credentialsForm.get('username'), usernameTooltip)"-->
                            <mat-icon
                                class="info"
                                #address1Tooltip="matTooltip"
                                matTooltip="Optional."
                                matTooltipPosition="after">info
                            </mat-icon>
                        </div>

                        <!-- City -->
                        <div fxLayoutAlign="center center">
                            <input type="text" name="city" id="city" placeholder="City" formControlName="city"> <!--(blur)="checkInput(credentialsForm.get('username'), usernameTooltip)"-->
                        </div>

                        <!-- Postal Code -->
                        <div fxLayoutAlign="center center">
                            <input type="text" name="postalCode" id="postalCode" placeholder="Postal Code" formControlName="postalCode"> <!--(blur)="checkInput(credentialsForm.get('username'), usernameTooltip)"-->
                        </div>

                        <!-- Country -->
                        <div fxLayoutAlign="center center">
                            <input type="text" name="country" id="country" placeholder="Country" formControlName="country"> <!--(blur)="checkInput(credentialsForm.get('username'), usernameTooltip)"-->
                        </div>

                        <!-- Phone Number -->
                        <div fxLayoutAlign="center center">
                            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber"> <!--(blur)="checkInput(credentialsForm.get('username'), usernameTooltip)"-->
                        </div>

                        <!-- Button -->
                        <div>
                            <button class="button" [disabled]="!addressInfoForm.valid" (click)="inputAddress()">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Confirm Address</ng-template>
                    <div class="profile__item item-container">
                        <div class="profile__item-header">
                            <h2>Confirm New Address Information</h2>
                        </div>
                        <div class="profile__item-content">
                            <div class="profile__item-content-header">
                                <h3><strong>Address Line 1</strong></h3>
                            </div>
                            <div class="profile__item-content-info">
                                <h3>{{newAddress.addressLine1}}</h3>
                            </div>
                        </div>
                        <div class="profile__item-content">
                            <div class="profile__item-content-header">
                                <h3><strong>Address Line 2</strong></h3>
                            </div>
                            <div class="profile__item-content-info">
                                <h3>{{newAddress.addressLine2}}</h3>
                            </div>
                        </div>
                        <div class="profile__item-content">
                            <div class="profile__item-content-header">
                                <h3><strong>City</strong></h3>
                            </div>
                            <div class="profile__item-content-info">
                                <h3>{{newAddress.city}}</h3>
                            </div>
                        </div>
                        <div class="profile__item-content">
                            <div class="profile__item-content-header">
                                <h3><strong>Postal Code</strong></h3>
                            </div>
                            <div class="profile__item-content-info">
                                <h3>{{newAddress.postalCode}}</h3>
                            </div>
                        </div>
                        <div class="profile__item-content">
                            <div class="profile__item-content-header">
                                <h3><strong>Country</strong></h3>
                            </div>
                            <div class="profile__item-content-info">
                                <h3>{{newAddress.country}}</h3>
                            </div>
                        </div>
                        <div class="profile__item-content">
                            <div class="profile__item-content-header">
                                <h3><strong>Phone Number</strong></h3>
                            </div>
                            <div class="profile__item-content-info">
                                <h3>{{newAddress.phoneNumber}}</h3>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div fxLayoutGap="25px">
                            <button class="button" matStepperPrevious>Back</button>
                            <button class="button" (click)="confirmAddress()">Confirm</button>
                        </div>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</section>