<section class="login">
    <div class="container">
        <div class="login__form forms">
            <div class="login__form-header">
                <h1>Login</h1>
            </div>

            <div class="error hide" fxLayoutAlign="space-between center">
              <div class="stripe"></div>
              <div class="message">{{error}}</div>
              <mat-icon class="exit" style="color: red" (click)="closeError()">close</mat-icon>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
              <div class="login__inputs">
                  <div fxLayoutAlign="center center">
                      <input type="text" name="username" id="username" placeholder="Enter username" formControlName="username" (blur)="checkInput(loginForm.get('username'), usernameTooltip)">
                      <mat-icon
                        class="info"
                        #usernameTooltip="matTooltip"
                        matTooltip="Username must be alphanumeric, may include '$' and be between 8-20 characters long."
                        matTooltipPosition="after">info
                      </mat-icon>
                  </div>
                  <div fxLayoutAlign="center center">
                      <input type="password" name="password" id="password" placeholder="Enter password" formControlName="password" (blur)="checkInput(loginForm.get('password'), passwordTooltip)">
                      <mat-icon
                        class="info"
                        #passwordTooltip="matTooltip"
                        matTooltip="Password must be 8-20 characters, have one or more capital letters and one or more special characters."
                        matTooltipPosition="after">info
                      </mat-icon>
                  </div>
              </div>
              <div class="login__button">
                  <button type="submit" class="button" [disabled]="!loginForm.valid">Sign In</button>
              </div>
            </form>
        </div>
    </div>
</section>
