<section class="login">
    <div class="container">
        <div class="login__form forms">
            <div class="login__form-header">
                <h1>Login</h1>
            </div>
            <div class="login__inputs">
                <div>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div>
                    <input type="text" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="login__button">
                <button onclick="submitForm()" class="button">Sign In</button>
            </div>
        </div>
    </div>
</section>