<section class="profile">
    <div class="container container--pall">
        <div class="profile__content">
            <div class="profile__item item-container">
                <div class="profile__item-header">
                    <h2>Product Information</h2>
                </div>
                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>Product Name</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{firstName}}</h3> -->
                    </div>
                </div>
                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>Product Price</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{username}}</h3> -->
                    </div>
                </div>
                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>Product Description</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{username}}</h3> -->
                    </div>
                </div>
                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>Product Category Id</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{email}}</h3> -->
                    </div>
                </div>
                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>On Sale Id</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{phoneNumber}}</h3> -->
                    </div>
                </div>

                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>Featured Item</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{phoneNumber}}</h3> -->
                    </div>
                </div>

                <div class="profile__item-content">
                    <div class="profile__item-content-header">
                        <h3><strong>Product Image</strong></h3>
                    </div>
                    <div class="profile__item-content-info">
                        <!-- <h3>{{phoneNumber}}</h3> -->
                    </div>
                </div>

                <div class="profile__button">
                    <button routerLink="updateProfile" class="button">Update Profile</button>
                </div>
            </div>

        </div>
    </div>
</section>