.error {
    position: relative;
    padding:0 25px;
    height: 50px;
    margin: auto;
    width: 50%;
    min-width: 325px;
    max-width: 450px;
    border-radius: 6px;
    background-color: #FFE7E6;
    color: red;
    opacity: 1;
    transition: opacity .1s ease-in-out;
  
    &.hide {
      opacity: 0;
    }
}