<section class="checkout">
    <div class="container container--pall">
        <div class="checkout__payment-container">
            <div class="checkout__payment- item-container" *ngIf="(userQuery.payment.userId != null)">
                <div class="checkout__payment--header">
                    <h2>Payment Information</h2>
                </div>
                <div class="checkout__payment--content">
                    <div class="checkout__payment--content-header">
                        <h3><strong>Network</strong></h3>
                    </div>
                    <div class="checkout__payment--content-info">
                        <h3>{{userQuery.payment.network}}</h3>
                    </div>
                </div>
                <div class="checkout__payment--content">
                    <div class="checkout__payment--content-header">
                        <h3><strong>Issuer</strong></h3>
                    </div>
                    <div class="checkout__payment--content-info">
                        <h3>{{userQuery.payment.issuer}}</h3>
                    </div>
                </div>
                <div class="checkout__payment--content">
                    <div class="checkout__payment--content-header">
                        <h3><strong>Card Number</strong></h3>
                    </div>
                    <div class="checkout__payment--content-info">
                        <h3>{{userQuery.payment.cardNumber}}</h3>
                    </div>
                </div>
                <div class="checkout__payment--content">
                    <div class="checkout__payment--content-header">
                        <h3><strong>Security Code</strong></h3>
                    </div>
                    <div class="checkout__payment--content-info">
                        <h3>{{userQuery.payment.securityCode}}</h3>
                    </div>
                </div>
                <div class="checkout__payment--content">
                    <div class="checkout__payment--content-header">
                        <h3><strong>Expiration Date</strong></h3>
                    </div>
                    <div class="checkout__payment--content-info">
                        <h3>{{userQuery.payment.expDate}}</h3>
                    </div>
                </div>
                <div class="profile__button">
                    <button routerLink="updatePayment" class="button">Update Payment</button>
                </div>
            </div>

            <div class="checkout__payment- item-container" *ngIf="(userQuery.payment.userId == null)">
                <div class="checkout__payment--header">
                    <h2>Payment Information</h2>
                </div>
                <div class="profile__button">
                    <button routerLink="updatePayment" class="button">Add Payment</button>
                </div>
            </div>
        </div>
        <div class="checkout__cart-container">
            <div class="checkout__cart-item-container" *ngFor="let cart of cartArray">
                <div class="checkout__cart-item item-container">
                    <div class="checkout__cart-item-content">
                        <div class="checkout__cart-item-header">
                            <div class="checkout__cart-item-title">
                                <h3>{{cart.cartItem?.product?.name + " " + cart.cartItem?.product?.descr}}</h3>
                            </div>
                            <div class="checkout__cart-item-price">
                                <h3>Price: ${{cart.cartItem?.product?.price}}</h3>
                                <h3>Net Price: ${{cart.netPrice}}</h3>
                            </div>
                        </div>
                        <div class="checkout__cart-item-footer">
                            <div class="checkout__cart-item-quantity"> 
                                Qty: {{cart.cartItem?.quantity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout__address-container">
            <div class="checkout__address item-container" *ngIf="(userQuery.userAddress.userId != null)">
                <div class="checkout__address-header">
                    <h2>Address Information</h2>
                </div>
                <div class="checkout__address-content">
                    <div class="checkout__address-content-header">
                        <h3><strong>Address Line 1</strong></h3>
                    </div>
                    <div class="checkout__address-content-info">
                        <h3>{{userQuery.userAddress.addressLine1}}</h3>
                    </div>
                </div>
                <div class="checkout__address-content">
                    <div class="checkout__address-content-header">
                        <h3><strong>Address Line 2</strong></h3>
                    </div>
                    <div class="checkout__address-content-info">
                        <h3>{{userQuery.userAddress.addressLine2}}</h3>
                    </div>
                </div>
                <div class="checkout__address-content">
                    <div class="checkout__address-content-header">
                        <h3><strong>City</strong></h3>
                    </div>
                    <div class="checkout__address-content-info">
                        <h3>{{userQuery.userAddress.city}}</h3>
                    </div>
                </div>
                <div class="checkout__address-content">
                    <div class="checkout__address-content-header">
                        <h3><strong>Postal Code</strong></h3>
                    </div>
                    <div class="checkout__address-content-info">
                        <h3>{{userQuery.userAddress.postalCode}}</h3>
                    </div>
                </div>
                <div class="checkout__address-content">
                    <div class="checkout__address-content-header">
                        <h3><strong>Country</strong></h3>
                    </div>
                    <div class="checkout__address-content-info">
                        <h3>{{userQuery.userAddress.country}}</h3>
                    </div>
                </div>
                <div class="profile__button">
                    <button routerLink="updateAddress" class="button">Update Address</button>
                </div>
            </div>

            <div class="checkout__address item-container" *ngIf="(userQuery.userAddress.userId == null)">
                <div class="checkout__address-header">
                    <h2>Address Information</h2>
                </div>
                <div class="profile__button">
                    <button routerLink="updateAddress" class="button">Add Address</button>
                </div>
            </div>
        </div>
    </div>
</section>