<section class="categories flex flex-jc-sb">
  <div class="categories__container" *ngFor="let category of categories; let i = index">
    <div class="categories__content" *ngIf="!(i >= 5)" routerLink="/products/{{category.id}}">
      <div class="categories__header">
        <h2><strong>{{category.name}}</strong></h2>
      </div>
      <div class="categories__image">
        <img  src="data:image/png;base64,{{category.image}}" alt="{{category.description}}">
      </div>
    </div>
  </div>
</section>