<section class="cart">
    <div class="cart__container container container--pall" *ngIf="cartArray != null">
        <div class="cart__header">
            <h1>Shopping Cart</h1>
        </div>
        <div class="cart__item-container" *ngFor="let cart of cartArray">
            <div class="cart__item item-container">
                <div class="cart__item-image">
                    <img src="data:image/png;base64,{{cart.cartItem?.product?.image}}" alt="">
                </div>
                <div class="cart__item-content">
                    <div class="cart__item-header">
                        <div class="cart__item-title">
                            <h3>{{cart.cartItem?.product?.name + " " + cart.cartItem?.product?.descr}}</h3>
                        </div>
                        <div class="cart__item-price">
                            <h3>Price: ${{cart.cartItem?.product?.price | number : '.2-2'}}</h3>
                            <h3>Net Price: ${{cart.netPrice | number : '.2-2'}}</h3>
                        </div>
                    </div>
                    <div class="cart__item-footer">
                        <div class="cart__item-quantity"> 
                            <select name="quantity" id="" #mySelect (change)="updateCart(cart.cartItem?.id, mySelect.value)">
                                <ng-container *ngFor="let num of quantity">
                                        <option [value]="cart.cartItem?.quantity" value="cart.cartItem?.quantity" *ngIf="cart.cartItem?.quantity == num" selected>
                                            Qty: {{cart.cartItem?.quantity}}
                                        </option>
                                        <option [value]="num" value="num" *ngIf="cart.cartItem?.quantity != num">
                                            Qty: {{num}}
                                        </option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="cart__item-delete">
                            <button (click)='removeCartItem(cart.cartItem?.id)'>Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__total">
            <h2>SubTotal: ${{cartTotal[0] | number : '.2-2'}}</h2>
        </div>
        <div class="cart__checkout">
            <button routerLink="checkout">Checkout</button>
        </div>
    </div>
</section>