<button (click)='getAll()'>Get All</button>
<p>{{getAllProducts | json}}</p>

<br>

<button (click)='getAllFeatured()'>Get All</button>
<p>{{getAllProducts | json}}</p>

<br>

<input type="text" [(ngModel)]='id'>
<button (click)='getByID(id)'>Get getByID</button>
<p>{{productById | json}}</p>

<br>

<input type="text" [(ngModel)]='id'>
<button (click)='getProductPrice(id)'>Get getProductPrice</button>
<p>{{price| json}}</p>


<button (click)='createProduct(create)'>Get create</button>

<button (click)='updateProduct(updatedProduct)'>Update product</button>